* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-size: 20px;
}

body{
	padding: 20px;

}

.mystery{
	margin: 50px;
	display: grid;
	gap: 10px;
}

.hide_answer{
	display: none;
}

.answer{
	display:contents;
	font-size: 36px;
}

.show_button{
	width: 200px;
	height: 50px;
	cursor: pointer;
}
.hide_button{
	width: 200px;
	height: 50px;
	cursor: pointer;
}